body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a[disabled] {
    pointer-events: none;
}

[data-root] {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template:
        [header] "header main" 5rem [header]
        [main] "nav main" 1fr [main]
        [footer] "footer main" fit-content(0) [footer]
        / 5rem 1fr;

        &.login{
            grid-template:
            [main] "main" 1fr [main]
            / 1fr;

            header,
            nav,
            footer {
                display: none;
            }

        }
}

header {
    grid-area: header;
    background: var(--accent);
}

nav {
    grid-area: nav;
    transition: all 0.25s ease-out;
    overflow: hidden;
    padding: 0;
    background: #F6F6F8;
}

footer {
    grid-area: footer;
    background: var(--accent);
}

main {
    display: grid;
    grid-area: main;
    grid-gap: 1.5rem;
    overflow: hidden;
    height: 100vh;
}

.home {
    display: grid;
    grid-template:
        [main] "data item" 1fr [main]
        / 3fr auto;
    height: 100vh;

    .parts {
        display: grid;
        grid-area: data;
        grid-template:
            [toolbar] "toolbar" 6rem [toolbar]
            [main] "data" 1fr [main]
        / 1fr;
        padding: 2rem;
    }

    .item {
        grid-area: item;
        width: 0px;
        overflow: auto;
        opacity: 0;
        padding: 0 1.5rem;
        transition: all .3s ease-out;
        box-shadow: 0 0px 5px 5px #DDD;
    }

    &.open {
        .item {
            opacity: 1;
            width: 40rem;
        }
    }
}

.parts .toolbar {
    grid-area: toolbar;
    // position: sticky;
    // top: 0;
    // z-index: 10;
    display: grid;
    grid-gap: 1.5rem;
    grid-template:
        [row1] "filter pageselector pagesize pagination actions" fit-content(0) [row1]
        / 1fr auto auto auto auto;

    .filter {
        grid-area: filter;
    }
    .pagination {
        grid-area: pagination;
    }

    .pagesize {
        grid-area: pagesize;
    }

    .pageselector {
        grid-area: pageselector;
    }

    .actions {
        grid-area: actions;
    }
}

.parts .data {
    grid-area: data;
    height: calc(100vH - 10rem);
    overflow: auto;
    overflow-y: scroll;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}


.logo {
    line-height: 5rem;
    text-align: center;
}

.distributor {
    display: grid;
    grid-gap: 2rem;
    row-gap: 0.5rem;
    grid-template:
        "filter result" 68vH
        "status status" fit-content(0)
        / 20rem 38rem;
    width: 60rem;

    &--result {
        grid-area: result;
        overflow: scroll;
        display: block;
        overflow-x: hidden;
    }

    &--filter {
        grid-area: filter;
        overflow: scroll;
        display: block;
        overflow-x: hidden;

        span {
            cursor: pointer;
            margin-bottom: 1px;
        }
    }

    &--status {
        grid-area: status;
    }

    &--item {
        display: grid;
        grid-gap: 0.75rem;
        grid-template:
            "logo distributor" fit-content(0)
            "image partnumber" fit-content(0)
            "image description" fit-content(0)
        / 4rem auto;
    }

    &--image {
        grid-area: image;
        	background-image: url('../assets/media/noimage.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
    }

    &--partnumber {
        grid-area: partnumber;
        font-size: 1rem;
        text-transform: uppercase;
        color: #000;
    }

    &--description {
        grid-area: description;
        overflow-y: hidden;
        text-overflow: ellipsis;
        display: block;
        height: fit-content;
    }

    &--name {
        grid-area: distributor;
    }

    &--logo {
        grid-area: logo;
        height: 2rem;
    }
}
