@mixin hook-form() {
    border-radius: $base-pre-border-radius;
    border-width: $global-border-width;
    border-color: $global-border;
    border-style: solid;
    font-size: 1rem;
    font-weight: normal;

    &:invalid,
    &:focus:invalid {
        border-color: var(--color-danger);
    }

}

@mixin hook-form-focus() {
    background: $global-background;
    border-color: $form-focus-color;
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 2px 3px 0 rgba(0,0,0,.1);
}

@mixin hook-button-primary() {
    // border: 1px solid red;
}

@mixin hook-button-default() {
    // border: 1px solid $global-border;
}

@mixin hook-button() {
    border-radius: $base-pre-border-radius;
    // font-size: 1rem;
    // font-weight: normal;
    // line-height: 2.7rem;

    .uk-button-group & {
        // border: 1px solid $global-border;

        // &:nth-child(odd),
        // &:nth-child(even) {
        //     border-right: none;
        //     border-radius: 0;
        // }

        // &:first-child {
        //     border-radius: 3px 0 0 3px;
        // }

        // &:last-child {
        //     border-right: 1px solid $global-border;
        //     border-radius: 0 3px 3px 0;
        // }

        // &:not(:first-child):not(:last-child) {
        //     // background-color: red;
        // }

        // &:nth-child(1){
        //     background-color: green;
        // }
    }
}

.uk-button-group {
    > *:nth-child(odd),
    > *:nth-child(even) {
        border: 1px solid $global-border;
        border-left: 0;
        border-right: 0;
        border-radius: 0;

        > *:not(.uk-dropdown) {
            border-radius: 0 $base-pre-border-radius $base-pre-border-radius 0;
        }
    }
    > *:first-child {
        border-radius: $base-pre-border-radius 0 0 $base-pre-border-radius;
        border: 1px solid $global-border;
        border-right: 0;
    }
    > *:last-child {
        border-radius: 0 $base-pre-border-radius $base-pre-border-radius 0;
        border: 1px solid $global-border;
        border-left: 0;
    }
    > button:last-of-type {
        border-radius: 0 $base-pre-border-radius $base-pre-border-radius 0;
        border-left: 0;
    }
}

@mixin hook-label(){
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5rem;

    &-hollow,
    &-hollow-primary {
        background: transparent;
        border: 1px solid $global-primary-background;
        color: $text-primary-color;

        &.uk-active {
            background: $global-primary-background !important;
            border: 1px solid $global-primary-background;
            color: $global-inverse-color;
        }
    }
}

@mixin hook-dropdown() {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: $base-pre-border-radius;
}

@mixin hook-form-label(){
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    line-height: 2rem;
}

@mixin hook-table-cell(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
