nav {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    z-index:2;
    position: relative;
    display: flex;
    flex-flow: column;
    height: calc(100% - 2rem);
    padding-top: 2rem;

    > div:first-child {
        flex-grow: 1;
    }

    ul.uk-nav-default {
        > li > a {
            color: var(--text-primary-invert);
            padding: 16px 16px 16px 22px;
            border-left: 4px solid transparent;
            transition: all 0.15s ease-out;
            display: block;
            width: 100%;

            &.active {
                border-left: 4px solid var(--accent);
            }
        }

        li.uk-nav-header {
	        padding:  20px 20px 8px 20px;
        }

        > li > a:hover,
        > li.uk-open > a {
            border-left: 4px solid var(--accent-hover);
            color: var(--accent-hover);
            background: var(--background-primary);
        }

        > li > a:focus {
            color: var(--text-primary-invert);
        }

        li .uk-nav-sub {
            padding-left: 34px;
        }
    }
}
